@import "tailwindcss";

/* Definir as fontes via CSS */
@font-face {
  font-family: 'Garet';
  src: url('/fonts/Garet-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garet';
  src: url('/fonts/Garet-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  color-scheme: light;
}

:root {
  --background: #ffffff;
  --foreground: #171717;  
  
  --color-brand-background: #FFFCFA;
  --color-brand-pink-light: #FCEFEF;
  --color-brand-off-white: #FEFAFA;
  --color-brand-text-button: #4A3629;
  --color-brand-whatsapp: #25D366;
  --color-brand-notification: #EF4444;
  
  --color-brand-baige: #EAE4DD;
  --color-brand-soft-beige: #F5F2EE;
  --color-brand-light-nude: #FBE9E9;
  --color-brand-dark-nude: #D6C4C0;
  --color-brand-brown: #946C53;
}

@theme inline {
  --color-brand-background: var(--color-brand-background);
  --color-brand-pink-light: var(--color-brand-pink-light);
  --color-brand-off-white: var(--color-brand-off-white);
  --color-brand-text-button: var(--color-brand-text-button);
  --color-brand-whatsapp: var(--color-brand-whatsapp);
  --color-brand-notification: var(--color-brand-notification);  
  
  --color-brand-soft-beige: var(--color-brand-soft-beige);
  --color-brand-light-nude: var(--color-brand-light-nude);
  --color-brand-dark-nude: var(--color-brand-dark-nude);
  --color-brand-brown: var(--color-brand-brown);
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-garet);
  --font-signature: var(--font-dancing-script);
}